name: Merge Feature Branch

on:
  push:
    branches:
      - ahamed

jobs:
  merge-feature:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Git User
      run: |
        git config user.name "Santhosh-Nagarajan"
        git config user.email "nsmgbros001@gmail.com"

    - name: Merge Feature Branch
      run: |
        git remote -v
        git pull -r
        git checkout develop
        git merge ahamed develop
        git log
          
          
          

